<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.PermissionMapper" >
  <resultMap id="BaseResultMap" type="model.Permission" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="permissionName" property="permissionname" jdbcType="VARCHAR" />
    <result column="roleId" property="roleid" jdbcType="INTEGER" />
    <result column="isDel" property="isdel" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, permissionName, roleId, isDel
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from permission
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="model.Permission" >
    insert into permission (id, permissionName, roleId, 
      isDel)
    values (#{id,jdbcType=INTEGER}, #{permissionname,jdbcType=VARCHAR}, #{roleid,jdbcType=INTEGER}, 
      #{isdel,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="model.Permission" >
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="permissionname != null" >
        permissionName,
      </if>
      <if test="roleid != null" >
        roleId,
      </if>
      <if test="isdel != null" >
        isDel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="permissionname != null" >
        #{permissionname,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=INTEGER},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.Permission" >
    update permission
    <set >
      <if test="permissionname != null" >
        permissionName = #{permissionname,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        roleId = #{roleid,jdbcType=INTEGER},
      </if>
      <if test="isdel != null" >
        isDel = #{isdel,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.Permission" >
    update permission
    set permissionName = #{permissionname,jdbcType=VARCHAR},
      roleId = #{roleid,jdbcType=INTEGER},
      isDel = #{isdel,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>